<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="newpage.css">

</head>
<body>
<div class=" row" >
    <div >
        <div class="background" >
            <div class="intro">
                <h1 id="intro"><font color="#ff7f50">H</font><font color="#add8e6">C</font><font color="#fdf5e6">I</font> </h1>
                <h3>Data Visualization</h3>
                <a ui-sref="home.viewdata" class="btn btn-block " type="button" id="start" >visualize</a>
                <button ng-click="new1()">hello</button>
            </div>
        </div>

    </div>
</div>

<footer>

