<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW BOOKS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse  navbar-collapse" id="myNavbar" ng-cloak >
                <ul class="nav navbar-nav">

                    <li ui-sref-active="active" ><a ui-sref="home.homepage">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.form" >View Data</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.visualize1" >Add Data</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.view" ng-if="userData.roles=='admin'" >View</a></li>

                    <li ui-sref-active="active"><a ui-sref="home.loginform"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><div ng-if="userData"> <span style="color: whitesmoke">{{userData.username}} ({{userData.roles}})</span></div>
                    <button class="btn" ng-click="logout()" ng-if="userData"><span class="glyphicon glyphicon-log-in"></span> Logout</button>
                    </li>



                </ul>
            </div>
        </div>

    </nav>
    <div ui-view></div>
</body>
</html>